/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 */

var config = {
	port: 80,

	language: 'en',
	timeFormat: 24,
	units: 'metric',

	modules: [
		{
			module: 'alert',
		},
		{
			module: 'clock',
			position: 'top_left'
		},
		{
			module: 'calendar',
			header: 'Times of Chill',
			position: 'top_left',
			config: {
				calendars: [

            {
                symbol: 'calendar-check-o ',
                url: 'webcal://www.webcal.fi/cal.php?id=506format=icswrn=1wp=4wf=12color=%233C78D8cntr=zalang=enrid=wc'
            }



				]
			}
		},
    {
			module: 'calendar',
			header: 'Da Mooon',
			position: 'top_left',
			config: {
				calendars: [
        {
            symbol: 'calendar-check-o ',
            url: 'webcal://www.webcal.fi/cal.php?id=41format=icsph=1ecl=1pa=1es=1du=miwrn=1wp=2wf=26color=%23666666cntr=zalang=enrid=wc'
          }

				]
			}
		},
		{
			module: 'compliments',
			position: 'lower_third'
		},
		{
			module: 'currentweather',
			position: 'top_right',
			config: {
				location: 'Pretoria, ZA',
				appid: 'ac9cf52520b8dcb29199632adff26973'
			}
		},
		{
			module: 'weatherforecast',
			position: 'top_right',
			header: 'Pretoria, South Africa',
			config: {
	            location: 'Pretoria, ZA',
	            appid: 'ac9cf52520b8dcb29199632adff26973'
			}
		},
		{
			module: 'newsfeed',
			position: 'bottom_bar',
			config: {
				feeds: [
					{
						title: "New York Times",
						url: "http://www.nytimes.com/services/xml/rss/nyt/HomePage.xml"
					},
          {
            title:"Russia Today",
            url: "https://www.rt.com/rss/"
          }
				],
				showSourceTitle: true,
				showPublishDate: true
			}
		},
	]

};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== 'undefined') {module.exports = config;}
